 /*

Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 31 oct. 2025, 11:33:42 a. m.
    Author     : MAURI
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;600;700&display=swap');
body{
    font-family: "Poppins", sans-serif;
}